<h2><%= @page.title %>
  <% unless params[:timestamp] %>
    <a href="/pages/edit/<%= @page.title %>" class="button" style="margin-left: 1em; top: -2px;">Upravit</a>
  <% end %>
</h2>

<hr>

<%= @page.body_html %>

<h2>Historie</h2>

<ul>
<% @page.revisions.each do |revision| %>
<li>
  <% if revision == params[:timestamp] %>
    <strong>
    <%= Time.at(revision.to_i).strftime('%d/%m/%Y %H:%M') %>
    </strong>
  <% else %>
    <a href="/pages/<%= @page.title %>/revisions/<%= revision %>">
      <%= Time.at(revision.to_i).strftime('%d/%m/%Y %H:%M') %>
    </a>
  <% end %>
<% end %>
</ul>
